html, body{
    height: 100%;
}
.main{
    margin-top: 70px;
}
.login-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.login-form{
    width: 400px;
}