html, body{
    height: 100%;
}
.main{
    margin-top: 70px;
}
.login-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.login-form{
    width: 400px;
}
.delete-link, .edit-link{
    cursor: pointer;
}
.edit-link:hover{
    color: #3c763d;
}
.delete-link:hover{
    color: #ac2925;
}
.error-404{
    display: flex;
    height: 100%;
}
.error-404 .error-text{
    margin: auto;
}
.error-404 .error-p{
    font-size: 10em;
}
.error-p-text{
    font-size: 2em;
}